/* ---------- NAV ---------- */
.navbar {
  z-index: 5;
}
.navbar .nav-link {
  color: #333;
  font-weight: 500;
}
.navbar .nav-link.active {
  background-color: #1877f2;
  color: white !important;
}
.nav-pills .nav-link {
  cursor: pointer;
}
.nav-pills .nav-link:hover {
  background-color: #e7f0ff;
  color: #1877f2 !important;
}
